@model IEnumerable<ClassLibrary.Models.Employee>
@using ClassLibrary.Enum
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Employee";
    Layout = "_Layout";
}
@section Styles{
    <link href="~/css/employee/E_index.css" rel="stylesheet" />
@*    <link href="~/css/AccountStyle/addstyle.css" rel="stylesheet" />*@
}

<div class="title">
    <h1>員工資料表</h1>
</div>

<a asp-area="Employee" asp-controller="Employees" asp-action="Create" class="btn"><i class="fa fa-solid fa-plus"></i>新增</a>

<div class="container">
    @*<div class="content">*@
        <div class="content-2">
            @*<div class="acount">*@
                
                <table>
                    <tr>
                        <th>姓名</th>
                        <th>使用者名稱</th>
                        <th>性別</th>
                        <th>權限</th>
                        <th>電話</th>
                        <th>職位</th>
                        <th>狀態</th>
                        <th>編輯</th>
                        <th>詳細資料</th>
                        <th>刪除</th>
                    </tr>

                    @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.E_Name)
                        </td>
                        <td>
                            
                                @Html.DisplayFor(modelItem => item.E_UserName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.E_Gender)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.E_Permission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.E_Phone)
                        </td>
                        <td>
                            
                                @Html.DisplayFor(modelItem => item.E_Title)
                        </td>

                        @*<td>
                        @Html.DisplayFor(modelItem => item.E_Work)
                        </td>*@

                    <td>
                        @*@Html.DisplayFor(modelItem => item.E_Work)*@
                        @*@Html.CheckBoxFor(modelItem => item.E_Work, new { style = "transform: scale(2);" })*@
                        @*@Html.CheckBoxFor(modelItem => item.E_Work, new { @disabled = "disabled" })*@
                        @*@Html.CheckBoxFor(modelItem => item.E_Work, new { disabled = true, style = "transform: scale(2);" })*@
                        @Html.CheckBoxFor(modelItem => item.E_Work, new { disabled = true, style = "transform: scale(1.5); background-color: red;" })
                    </td>

                        <td>
                             <a asp-action="Edit" asp-route-id="@item.E_ID" class="fa-regular fa-pen-to-square" style="color:goldenrod"></a>
                        </td>
                        <td>
                                <a asp-action="Details" asp-route-id="@item.E_ID"><i class="fa fa-solid fa-eye" style="color:darkgreen"></i></a>
                        </td>
                        <td>
                                <a asp-action="Delete" asp-route-id="@item.E_ID" class="fa-solid fa-trash-can" style="color:brown"></a>
                        </td>
                    </tr>
                    }

                </table>
            @*</div>*@
        </div>
    @*</div>*@
</div>