@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@section Styles{
	<link href="~/css/ad/ad.css" rel="stylesheet" />
}

<section class="table_header">
	<button class="btn_title custom-btn btn-par">
		<span>
			<a asp-area="AD" asp-controller="AD_Home" asp-action="Index" style="color:white">
				廠商管理
			</a>
		</span>
	</button>

	<button class="btn_title custom-btn btn-AD" style="border:1px solid white ;background-image: linear-gradient(to right top, #040b2e, #1a264d, #32416e, #4b5e91, #647db5, #677db6, #6b7db6, #6e7db7, #5c5f94, #484271, #352851, #210f32);">
		<span>
			<a asp-area="AD" asp-controller="ADDetail_Home" asp-action="Index" style="color:white">
				廣告管理
			</a>
		</span>
	</button>

</section>
<section class="tables">
	<section class="Dtable_body" id="partnerTable">
		<table class="Detail_table" >
			<thead>
				<tr>
					<th>單號ID</th>
					<th>廠商ID</th>
					<th>方案名稱</th>
					<th>開始投放</th>
					<th>結束投放</th>
					<th>共計天數</th>
					<th>點擊數</th>
					<th>應付款日</th>
					<th>實付款日</th>
					<th>狀態</th>
					<th>實收款項</th>
					<th>描述</th>
					<th>圖片</th>
					<th>TargetURL</th>
					<th>刪除</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var ads in Model.AdsList)
				{
					<tr>
						<td>@ads.Ad_ID</td>
						<td>@ads.PartnerID</td>
						<td>@ads.CaseID</td>
						<td>@ads.Ad_StartTime</td>
						<td>@ads.Ad_EndTime</td>
						<td>@ads.Ad_DayCount</td>
						<td>@ads.Ad_Clicks</td>
						<td>@ads.Ad_PaymentDueDate</td>
						<td>@ads.Ad_TimeOfPayment</td>
						<td>@ads.Ad_ActiveStatus</td>
						<td>@ads.AD_FinalPaymentAmount</td>
						<td>@ads.Ad_Description</td>
						<td>@ads.Ad_ImageURL</td>
						<td>@ads.Ad_TargetURL</td>
						<td><a class="btn btn-outline-light" href="@Url.Action("DeleteAds", "ADDetail_Home", new { id = @ads.Ad_ID })">刪除</a></td>
					</tr>
				}
			</tbody>
		</table>
	</section>
</section>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11"></div>

@section Script{
	<script src="~/js/ad/script.js"></script>
}