@*@model final_repo_test.Models.Order;*@
@*@model Tuple<Order, List<OrderDetail>, List<Product>>*@
@model ClassLibrary.ViewModels.OrderProduct.ViewOrder

@section Styles{
    <link href="~/css/orderproduct/create.min.css" rel="stylesheet" />
    <style>

    </style>
}

@{
    ViewData["Title"] = "Create";
}
<div class="container overflow bordandcolor height">
    <h1>Create</h1>

    <h4>Order</h4>
    <hr />
    <div class="row m-auto">
        <div class="">
            <form asp-action="Create" class="row g-3 needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4">
                    <label asp-for="Order.A_ID" class="control-label"></label>
                    <select asp-for="Order.A_ID" asp-items="ViewBag.CustomerIdList" class="form-control">
                        <option>---請選擇客戶---</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label asp-for="Order.O_Date" class="control-label"></label>
                    <input asp-for="Order.O_Date" class="form-control" />
                    <span asp-validation-for="Order.O_Date" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Order.O_TotalPrice" class="control-label"></label>
                    @*<input asp-for="Item1.O_TotalPrice" class="form-control text-danger" id="ordertotalprice"/>*@
                    <span id="ordertotalprice" asp-validation-for="Order.O_TotalPrice" class="form-control">0</span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Order.O_Cancle" class="control-label"></label><br>
                    <input type="checkbox" asp-for="Order.O_Cancle" class="form-check-input" />
                    <span asp-validation-for="Order.O_Cancle" class="text-danger"></span>
                </div>
                <div class="box overflow">
                    <partial name="_OrderDetailPartial" model="@Model" />
                </div>


                <div class="form-group">

                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Script {
    <script src="~/js/orderproduct/create.min.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script>
        var products = @Html.Raw(Json.Serialize(Model.Products));
        var odetails = @Html.Raw(Json.Serialize(Model.OrderDetails));
    </script>
    <script src="~/js/orderproduct/createdetails.min.js"></script>
    <script>
        var getprice = "@Url.Action("GetProductPrice", "Orders")";
        var deletedetail = "@Url.Action("DeleteOrderDetail", "Orders")";

    </script>
}
