@*@model final_repo_test.Models.Order;*@
@model IEnumerable<ClassLibrary.ViewModels.OrderProduct.OrderDetailViewModel>
@section Styles{
    <link href="~/css/orderproduct/detail.min.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h1>Details</h1>
    <div class="container mt-4 box">
        <table class="table radius mt-2 text-xxl-center">
            <thead>
                <tr>
                    <th class="col-md-2">客戶ID</th>
                    <th class="col-md-2">訂單日期</th>
                    <th class="col-md-2">訂單價錢</th>
                    <th class="col-md-2">訂單取消</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="">@item.selectOrder.A_ID</td>
                        <td class="">@item.selectOrder.O_Date</td>
                        <td class="">@item.selectOrder.O_TotalPrice</td>
                        <td class="">@item.selectOrder.O_Cancle</td>
                    </tr>
                    break;
                }
            </tbody>
            
        </table>
        <h4>訂單明細</h4>
        <table class="table radius">
            <thead>
                <tr>
                    @*<th class="col-md-2 text-xxl-center">訂單ID</th>*@
                    <th class="col-md-2 text-xxl-center">產品項目</th>
                    <th class="col-md-2  text-xxl-center">產品價錢</th>
                    <th class="col-md-2  text-xxl-center">產品小計</th>
                    <th class="col-md-2  text-xxl-center">產品數量</th>
                </tr>
            </thead>
            <tbody id="order-detail-list">

                @foreach (var odetails in Model)
                {
                    <tr>
                        @*<td class="text-xxl-center">
                            @odetails.selectDetails.O_ID
                        </td>*@
                        <td class="text-xxl-center">
                            <span asp-for="@odetails.ProductName" class="form-control price">@odetails.ProductName</span>
                        </td>
                        <td class="text-xxl-center">
                            <span asp-for="@odetails.selectDetails.Od_UnitPrice" class="form-control price">@odetails.selectDetails.Od_UnitPrice</span>
                            
                        </td>
                        <td class="text-xxl-center">
                            <span asp-for="@odetails.selectDetails.Od_Sum" class="form-control">@odetails.selectDetails.Od_Sum</span>
                        </td>
                        <td class="text-xxl-center">
                            <span asp-for="@odetails.selectDetails.Od_Quantity" class="form-control">@odetails.selectDetails.Od_Quantity</span>
                        </td>
                    </tr>
                }
            </tbody>
            
        </table>

    </div>
    <div>
        <a class="btn-secondary btn gray mt-2" asp-action="Index">Back to List</a>
    </div>
</div>
