@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model IEnumerable<final_repo_test.Areas.OrderProduct.ViewModels.ViewOrder>;*@
@model IEnumerable<ClassLibrary.Models.Order>;

@{
    ViewData["Title"] = "Order";
    Layout = "_Layout";
}
@section Styles{
    <link href="~/css/orderproduct/orderindex.css" rel="stylesheet" />
}

<div class="container box">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    
                </div>
                <div class="table-responsive">
                    <table class="table mb-0 bordandcolor">
                        <thead class="table-light">
                            <tr>
                                <th class="col-1">Order#</th>
                                <th class="col-1">Name</th>
                                <th class="col-2">Status</th>
                                <th class="col-2">Total</th>
                                <th class="col-3">Date</th>
                                <th class="col-2">View Details</th>
                                <th class="col-1">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            @foreach (var item in Model)
                            {
                                <tr class="gray">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <input class="form-check-input me-3" type="checkbox" value=""
                                                       aria-label="...">
                                            </div>
                                            <div class="ms-2">
                                                <h6 class="mb-0 font-14"># @item.O_ID</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @item.Account.A_Name
                                        @* @(item.OAIdNavigation.UserName)*@
                                    </td>
                                    <td>
                                        <div id="test" class="badge rounded-pill p-2 text-uppercase px-3 @if (item.O_Cancle){
                                    <text>bg-danger</text>
}else{
                                    <text>bg-success</text>
}">
                                                <i class='bx bxs-circle me-1'></i>@(item.O_Cancle ? "訂單取消" : "訂單完成")
                                        </div>
                                    </td>
                                    <td>
                                       @* $@Html.DisplayFor(modelItem => item.OTotalPrice)*@
                                        $@item.O_TotalPrice
                                    </td>
                                    <td>
                                        @item.O_Date
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.O_ID" class="badge rounded-pill bg-dark p-2 text-uppercase px-3">Details</a>
                                    </td>
                                    <td>
                                        <div class="d-flex order-actions">
                                            <a asp-action="Edit" asp-route-id="@item.O_ID"><i class='bx bxs-edit test'></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.O_ID" class="ms-3"><i class='bx bxs-trash test'></i></a>
                                            
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-1">
                    @Html.Raw(ViewBag.PageList)
                </div>
                
            </div>
        </div>
    </div>
</div>
@section Script{

    <script>


    </script>
}