@model ClassLibrary.Models.CardOrder

@{
    ViewData["Title"] = "Delete";
}

<div class="container box">
    <h1><i class="fa-solid fa-trash"></i>刪除</h1>
    <h3>確定刪除此訂單??</h3>
    <div>
    <h4>CardOrder</h4>
    <hr />
    <dl class="row  bg-secondary radius">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.A_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card.CA_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardType.CT_ID)
        </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CO_Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CO_Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CO_Cancel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CO_Cancel)
            </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CO_Sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CO_Sum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CO_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CO_Quantity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CO_ID" />
        <button type="submit" value="Delete" class="btn btn-danger" onclick="return(confirm('確認刪除此商品?'))"><i class="fa-solid fa-trash"></i> 刪除</button> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>
