@model IEnumerable<ClassLibrary.Models.CardOrder>

@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link href="~/css/cardproduct/orderindex.css" rel="stylesheet" />
}

<div class="container box">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    <p>
                        <a class="btn btn-secondary" asp-action="Create">Create New</a>
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0 bordandcolor">
                        <thead class="table-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CO_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.A_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CA_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CT_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CO_Cancel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CO_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CO_Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CO_Sum)
                                </th>
                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model) {
                            <tr class="gray">
                                <td>
                                    #@Html.DisplayFor(modelItem => item.CO_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account.A_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Card.CA_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardType.CT_Name)
                                </td>
                                    <td>
                                        <div id="test" class="badge rounded-pill p-2 text-uppercase px-3 @if (item.CO_Cancel){
                                    <text>bg-danger</text>
}else{
                                    <text>bg-success</text>
}">
                                            <i class='bx bxs-circle me-1'></i>@(item.CO_Cancel ? "訂單取消" : "訂單完成")
                                        </div>
                                        @*@Html.DisplayFor(modelItem => item.CO_Cancel)*@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CO_Date)
                                    </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CO_Quantity)
                                </td>
                                <td>
                                    $@Html.DisplayFor(modelItem => item.CO_Sum)
                                </td>
                                
                                
                                <td>
                                    <div class="d-flex order-actions">
                                        <a asp-action="Edit" asp-route-id="@item.CO_ID"><i class='bx bxs-edit test'></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.CO_ID" class="ms-3"><i class='bx bxs-trash test'></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                @Html.Raw(ViewBag.CardOrderPageList)
            </div>
        </div>
    </div>
</div>



@section Script
{   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

    </script>
}
