@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ClassLibrary.ViewModels.Account.Edit
@using ClassLibrary.Enum
@{
    ViewData["Title"] = "Edit Account";
    Layout = "_Layout";

}
@section Styles{
    <link href="~/css/AccountStyle/editstyle.css" rel="stylesheet" />
}
<body>
    <div class="container">
        <div class="title">編輯會員</div>
        <div class="content">
            <form method="post" action="Edit">
                <div class="user-details">
                     <div class="input-box">
                    <span class="details">ID</span>
                    <input type="text" placeholder="ID" required asp-for="A_ID" readonly>
                    </div>
                    <div class="input-box">
                        <span class="details">權限</span>
                        <input type="text" placeholder="Enter Level" required asp-for="A_level">
                    </div>
                    <div class="input-box">
                        <span class="details">全名</span>
                        <input type="text" placeholder="Enter your name" required asp-for="A_Name">
                        <span asp-validation-for="A_Name" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">暱稱</span>
                        <input type="text" placeholder="Enter your NickName" required asp-for="A_NickName">
                        <span asp-validation-for="A_NickName" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">使用者名稱</span>
                        <input type="text" placeholder="Enter your username" required asp-for="UserName">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Enter your email" required asp-for="A_Email">
                        <span asp-validation-for="A_Email" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">密碼</span>
                        <input type="text" placeholder="Enter your password" required asp-for="UserPWD">
                        <span asp-validation-for="UserPWD" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">電話號碼</span>
                        <input type="text" placeholder="Enter your number" required asp-for="A_Phone">
                        <span asp-validation-for="A_Phone" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="birthday">生日</span>
                        <input type="date" id="birthday" name="birthday" value="1990-01-01" asp-for="Birthday">
                    </div>
                    <div class="input-box">
                        <span class="details">地址</span>
                        <input type="text" placeholder="Enter your address" required asp-for="A_add">
                        <span asp-validation-for="A_add" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Coin</span>
                        <input type="text" placeholder="Coin" required asp-for="A_Coin">
                    </div>
                    <div class="input-box">
                        <span class="Registered">註冊日期</span>
                        <input type="date" id="Registered" name="Registered" value="2023-04-27" asp-for="A_RegisteredAt">
                    </div>
                    <div class="input-box">
                        <span class="details">裝備</span>
                        <input type="text" placeholder="給他一件裝備" required asp-for="P_id">
                    </div>


                </div>
                <div class="gender-details">
                    @*Gender這個功能還有點問題*@
                    <input type="radio" asp-for="A_Gender" id="dot-1" value="@((int)Gender.男)" checked="@((Model?.A_Gender == Gender.男) ? "checked" : null)">
                    <input type="radio" asp-for="A_Gender" id="dot-2" value="@((int)Gender.女)" checked="@((Model?.A_Gender == Gender.女) ? "checked" : null)">
                    <input type="radio" asp-for="A_Gender" id="dot-3" value="@((int)Gender.其他)" checked="@((Model?.A_Gender == Gender.其他) ? "checked" : null)">
                    <span asp-validation-for="A_Gender" class="text-danger"></span>
                    <span class="gender-title">性別</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">男性</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">女性</span>
                        </label>
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="gender">不方便透漏</span>
                        </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="儲存">
                </div>
                <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Account_Home">刪除</button>
                <a asp-area="Account" asp-controller="Account_Home" asp-action="Index" asp-route-id="" class="btn"><i class=" fa fa-sharp fa-solid fa-arrow-left"></i>回上一頁</a>
            </form>
        </div>
    </div>
</body>



@section Script{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}