@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ClassLibrary.Models.UserAccount>
@{
    ViewData["Title"] = "Account";
    Layout = "_Layout";
    
}
@section Styles{
    <link href="~/css/Accountstyle/style2.css" rel="stylesheet" />
}





<body>
    <div class="container">
        <div class="content">
            <div class="content-2">
                <div class="acount">
                    <div class="title">
                        <h2>會員資料表</h2> 
                        <a asp-area="Account" asp-controller="Account_Home" asp-action="Add" asp-route-id="" class="btn"><i class="fa fa-solid fa-plus"></i> 新增</a>
                    </div>
                    <table>
                        
                        <tr>
                            <th>ID</th>
                            <th>名字</th>
                            <th>使用者名稱</th>
                            <th>性別</th>
                            <th>生日</th>
                            <th>權限</th>
                            <th>option</th>
                        </tr>
                        @foreach (var account in Model)
                        {
                        <tr>
                            <td>@account.A_ID</td>
                            <td>@account.A_Name</td>
                            <td>@account.A_NickName</td>
                            <td>@account.A_Gender</td>
                            <td>@account.Birthday.ToString("yyyy-MM-dd")</td>
                            <td>@account.A_level</td>
                            <td><a href="@Url.Action("Edit", "Account_Home", new { A_Id = account.A_ID })" class="btn"><i class="fa fa-solid fa-eye"></i> View</a></td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
