@model final_repo_test.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Pwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Pwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_HireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_HireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Permission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Permission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Work)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Work)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.E_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
