@model IEnumerable<ClassLibrary.Models.Card>

@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link href="~/css/orderproduct/productindex.css" rel="stylesheet" />
}

<div class="container box">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    <p>
                        <a class="btn btn-secondary" asp-action="Create">Create New</a>
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0 bordandcolor tdcenter">
                        <thead class="table-light">
                            <tr>
                                <th>Actions</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CA_Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CA_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CA_Price)
                                </th>                               
                                <th>
                                    @Html.DisplayNameFor(model => model.CA_Describe)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CA_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CA_Discontinuted)
                                </th>

                                
                                
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model) {
                            <tr class="gray">
                                    <td>
                                        <a asp-area="CardOrderProduct" asp-controller="Card" asp-action="Edit" asp-route-id="@item.CA_ID"><i class='bx bxs-edit test'></i></a>
                                        <a asp-area="CardOrderProduct" asp-controller="Card" asp-action="Details" asp-route-id="@item.CA_ID" class="ms-1"><i class="fa-solid fa-file"></i></a>
                                        <a asp-area="CardOrderProduct" asp-controller="Card" asp-action="Delete" asp-route-id="@item.CA_ID" class="ms-1"><i class='bx bxs-trash test'></i></a>
                                    </td>

                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PImage)*@
                                        <partial name="_ShowCardPhotoPartial" model="@item" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CA_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CA_Price)
                                    </td>
                                    <td class="tdcenter">
                                        @Html.DisplayFor(modelItem => item.CA_Describe)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CA_Date)
                                    </td>
                                    <td class="tdcenter">
                                        <div id="test" class="break badge rounded-pill p-2 text-uppercase px-3 @if (item.CA_Discontinuted){
                                <text>bg-danger</text>
}else{
                                <text>bg-success</text>
}">
                                            @(item.CA_Discontinuted ? "已下架" : "上架中")
                                </div>
                                        @*@Html.DisplayFor(modelItem => item.P_Discontinuted)*@
                                    </td>


                                </tr>
                        }
                        </tbody>
                    </table>
                </div>
                @Html.Raw(ViewBag.PageList)
            </div>
        </div>
    </div>
</div>



@section Script
{   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

    </script>
}
